# Text backup files
*.bak

# Database
*.sqlite3

# Generated automatically with Textpattern template
.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
