body {
	/* background-color: #c4b3b3; */
    color: maroon;
    background-size: cover;
	margin: 0 auto;
}

header {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

main {
	text-align: center;
    margin: 0 auto;
    padding: 5px;
}

footer {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

/* typography */
h2 {
    font-size: 30px;
    color: maroon;
    margin: 5px auto;
}

h1 {
    font-size: 50px;
    color: maroon;
    margin: 5px;
}

.header-columns {
    display: flex;
    margin: auto;
    width: 230px;
}

.header-column {
    margin: auto;
    padding: 5px;
}

.main-columns {
    display: flex;
	margin: auto;
	text-align: center;
    width: 500px;
}

.main-column {
    flex-wrap: wrap;
    margin: auto;
}

.button-div {
    padding: 10px;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
