{% extends "index.html" %}

{% block content %}
	<h2>Compare two configurations</h2>
	<p>Comparison successful!</p>
	<p>Copy/paste the following contents to a file, save the file with a '.html' extension, and open in a browser</p>
	{{ diff_contents }}
	<!-- <p><a href="{{ diff_file_full }}" target="_blank">New comparison</a></p>
	<p>New comparison here:</p><a href="diffs/{{ diff_file }}" target="_blank">{{ diff_file }}</a>
	<p><a href="{% url 'compare_config' %}">Compare</a> more files</p> -->
{% endblock %}
